.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )                 
                50% 50% 
                no-repeat;
}
.Error_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
.rTable {
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
    /*text-align: center;*/
}

.rTableRow {
    display: table-row;
}


.rTableCell {
    vertical-align: middle;
    display: table-cell;
    padding: 3px 10px;
    border-bottom: 1px solid lightgray;
}

.noborder {
    border-bottom: none;
}

.rTableRowGrp {
    display: table-row-group;
}
.error-color {
        color: #cd5c5c;
}